.company-register-header{
    width: 30%;
    margin: 3rem auto;
    text-align: left;
}

.company-register-header-items {
    text-align: center;
    padding:0.5rem 0;    
    color: red;
}

.company-register-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2rem auto;
}

.company-form-input{
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 15pt;
    font-size: medium;
}

.company-form-input:focus{
    border: 3pt solid black;

}



.company-register-submit{
    background-color: rgb(78, 206, 27);
    width: 50%;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 15pt;
    transition: transform 0.2ms ease-in-out;
}

.company-register-submit:hover{
    transform: scale(1.07);
}