nav{    
    background-color: rgb(78, 206, 27);
    
}

.nav-list-company{
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(2, auto);
    justify-content:space-between;
    align-items: center;    
    width: 70%;
    margin: 0 auto;
    
}

@media only screen and (max-width:700px){

   

    .log-img{
        width: 20%;
    }

    .home-img{
        width: 50%;
    }
}
